<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @to_do.name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @to_do.due_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @to_do.completed %>
</p>

<%= link_to 'Edit', edit_to_do_path(@to_do) %> |
<%= link_to 'Back', to_dos_path %>
